</section>
<div id="miniFoot" class="ui inverted vertical footer segment">
  <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
      </div>
  </div>
</div>
<div id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="six wide column">
          <h4 class="ui inverted header" id="title2">DBYD</h4>
          
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Links</h4>
          <div id="footer" class="ui inverted link list">
            <a href="/" id="footer" href="#" class="item">Home</a>
            <a id="footer" href="#" class="item">About Me</a>
            <a id="footer" href="#" class="item">Articles</a>
            <a href="/login" id="footer" href="#" class="item">Admin Login</a>
          </div>
        </div>
        <div class="seven wide column">
          <h3 class="ui icon aligned center header">
            <i id="iconColor" class="code icon"></i>
            <div id="footColor" class="content">
                Developed By Chad Erdwins
              </div>
          </h3>

        </div>
      </div>
    </div>
  </div>
</body>